# dependencies
/node_modules
/.pnp
.pnp.*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# local environment files
.env*.local

# misc
.DS_Store
*.tsbuildinfo

# deployment
.vercel
